.navbar-default .navbar-brand {
    color: #777;
}
.navlink {
    color: #777;
}
.container-fluid {
    padding: 3rem 0rem;
    margin: 0 auto;
}
.head {
    margin-bottom: 3rem;
}
.bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #fff;
}
.img-circle {
    border-radius: 50%;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}